<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Robot Controller</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
  

    </style>
</head>
<body class="error">
  <div class="header-bar"></div>

  <div class="box" onclick="goToHomePage()">
    <div class="data-port"></div>
  </div>

  <script>
    function goToHomePage() {
      window.location.href = "/welcome";
    }
  </script>

</body>
</html>
