<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Supplies</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="supplies">

  <div class="box" onclick="goToWelcome()">
    <div class="data-port">
      <div class="overlap-group">
        <img class="line" src="line.svg" alt=""/>
        <img class="img" src="line.svg" alt=""/>
        <img class="line-2" src="line.svg" alt=""/>
        <img class="line-3" src="line.svg" alt=""/>
        <img class="line-4" src="line.svg" alt=""/>
      </div>
    </div>
  </div>

  <div class="SUPPLIES">
    <div class="option">
      <div class="status-button" onclick="toggleStatus(this)"></div>
      Burn
    </div>

    <div class="option">
      <div class="status-button" onclick="toggleStatus(this)"></div>
      Cut
    </div>

    <div class="option">
      <div class="status-button" onclick="toggleStatus(this)"></div>
      Eyes
    </div>

    <div class="option">
      <div class="status-button" onclick="toggleStatus(this)"></div>
      Treats
    </div>

    <div class="top-bar"></div>
  </div>

  <script>
    function toggleStatus(el) {
      const currentColor = window.getComputedStyle(el).backgroundColor;
      if (currentColor === 'rgb(255, 215, 0)') {
        el.style.backgroundColor = '#78d684'; // green
      } else {
        el.style.backgroundColor = '#FFD700'; // gold
      }
    }


    function goToWelcome() {
      window.location.href = "/welcome";
    }
  </script>
</body>
</html>
