<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Options Screen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="welcome">
  <div class="top-bar"></div>

  <div class="container">
    <a href="/supplies" class="option">Care Supplies</a>
    <a href="/control" class="option">Control</a>
    <a href="/error" class="option">Errors</a>
  </div>
</body>
</html>
